@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


header{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9.5rem;
    @include flex-center(null);
    background: $nav-bg;
    z-index: 1000; 
}

.nav-bar{
    @include flex-center(3.1rem);
    max-width: 33.3rem;
}
.nav-item{
    @include flex-center(0.5rem);
    flex-direction: column;
    
    img{
        width: 2rem;
        height: 2rem;
        
    }
    span{
        font-size: 1.2rem;
        color: $text-color;
        letter-spacing: 3%;
    }
    
}
.nav-link {
    background: transparent;
}
.nav-link.is-active {
        img, span {
            filter: invert(61%) sepia(53%) 
                    saturate(3025%) hue-rotate(104deg) 
                    brightness(96%) contrast(90%);
        }
    }

