// colors
$primary-color: #E8DB84;
$secondary-color: #052A44;
$nav-bg: linear-gradient(180deg, #111111d8 0%, #111111 42.62%);
$text-color: #183B56;
$bg-primary: #111111;
;
$text-color: #898989;
$white: #fff;
$black: #000;
// fonts
$satoshi: 'Satoshi', sans-serif;



