// colors
$primary-color: #333842;
$nav-bg: linear-gradient(180deg, #111111d8 0%, #111111 42.62%);
$nav-bg-reverse: linear-gradient(0deg, #06060633 0%, #060606 42.62%);
$bg-primary: #060606;
$bttn-color: #202020;
$text-color: #898989;
$text-color-light: #E0E0E0;
$white: #fff;
$black: #000;
// fonts
$satoshi: 'Satoshi', sans-serif;



