@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.nav-filter{
    @include flex-center(1rem);
    justify-content: space-between;
    align-self: start;
    width: 100%;
    padding: 1.5rem;
}
.filter-bttn-wrapper{
        @include flex-center(1rem);
}
.filter-bttn{
    background-color: transparent;
    width: 4rem;
    height: 4rem;
    padding: 0;
    img{
        width: 100%;
    }
}
main{
    @include flex-center(1rem);
    flex-direction: column;
    width: 100%;

}
.filtered-content{
    @include flex-center(1rem);
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    
}
.filtered-item{
    @include flex-center(1rem);
    max-width: 17.5rem;
    width: 100%;
    background: #282828;
    padding: 0.8rem;
    border-radius: 1rem;
}
.img{
    width: 4.3rem;
    border-radius: 0.5rem;
    }
.filtered-item-info{
    @include flex-center(1rem);
    align-items: center;
    flex-direction: column;
    color: $white;
    font-size: 1.2rem;
    width: 100%;
    height: 5.8rem;
    overflow: hidden;
    span{
        width: 100%;
        text-align: start;
    }

}
.filtered-item-info {
    @include flex-center(1rem);
    align-items: center;
    flex-direction: column;
    color: $white;
    font-size: 1.2rem;
    width: 100%;
    height: 5.8rem;
    overflow: hidden;

    span {
        width: 100%;
        text-align: start;
        font-size: 1.4rem;
        letter-spacing: 3%;
        line-height: 100%;
    }

    &:hover {
        .filtered-item-title {
            @include marquee(10s);
            animation-play-state: running; 
        }
    }
}

.filtered-item-title {
    display: inline-block; 
    white-space: nowrap;
    
}
@include marquee-key; //this is keyframe for marquee brooo
.suggested-content{
    @include flex-center(1.5rem);
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
}
.suggested-content-header{
    @include flex-center(1rem);
    justify-content: space-between;
    width: 100%;
    h3{
        font-size: 2rem;
    }
}
.more-bttn{
    @include flex-center(0.5rem);
    padding: 0 0.8rem;

    div{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: $text-color;
    }
}
.suggested-card-container{
    @include flex-center(1rem);
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}
.suggestion-card{
    @include flex-center(1rem);
    flex: 0 0 14rem;
    flex-direction: column;
    padding-top: 1.5rem;
}
.card-banner{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.6rem;
    position: relative;
    overflow: visible;
    z-index: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.6rem;
        position: relative;
        z-index: 1;
    }
}
.card-background-1{
    position: absolute;
    width: 90%;
    aspect-ratio: 1/1;
    background: #ce6e9955;
    border-radius: 0.6rem;
    top: -0.6rem; 
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.card-background-2{
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    background: #CE6E9A26;
    border-radius: 0.6rem;
    top: -1rem; 
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}
.card-content{
    @include flex-center(0.5rem);
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    span{
        width: 100%;
        text-align: start;
        font-size: 1.2rem;
        letter-spacing: 3%;
        line-height: 100%;
    }
}
.suggestion-card-artist{
    font-size: 1rem;
    color: $text-color;
}