@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-family: $satoshi;
    font-weight: bold;
}

.library_category {
    display: flex;
    align-items: center;
    width: 90%;
    height: 6rem;
    border-bottom: 0.2rem solid $bttn-color;
}

.library_category_select {
    font-size: 2rem;
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
}